util.print: Use console.log instead
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header div img {
  margin: 9px 0px 9px 32px;
}
header div h2 {
  margin: 20px 15px;
}
header div * {
  color: #414752;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
}
header div {
  height: 72px;
}
div {
  max-width: 1024px;
  min-width: 1024px;
  margin: 0 auto;
}
body {
  background-color: #f9f9f9;
}
nav {
  background-color: #2699d1;
  height: 48px;
  max-width: 1024px;
  min-width: 1024px;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  text-align: left;
  height: 100%;
  padding: 0;
  margin: 0;
  margin-left: 32px;
}
nav li {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 40px;
  height: 48px;
  font-weight: 400;
  display: inline-block;
  margin-right: 43px;
  margin-top: 4px;
}
nav a {
  text-decoration: none;
  color: #f9f9f9;
  display: block;
  border-bottom: 4px solid #2699d1;
  transition: 0.3s border-bottom;
}
nav a:hover {
  border-bottom-color: #ffffff;
}
main {
  max-width: 1024px;
  min-width: 1024px;
  margin: 0 auto;
}
main h1 {
  margin: 54px 0 0 32px;
  color: #414752;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
}
