
    <div class="passItem" id="<%= id %>" tabindex="0">
        <div class="passItemImage">
            <img src="images/<%= pictureName %>"></div>
        <div class="passItemHeader">
            <span><%= passItemHeader %></span></div>

        <div class="passItemText"><%= passItemDescription %></div>
    </div>