<div class="userInfo" id="user<%= count %>">
    <div class="userInfoName">
        <div class="userInfoText">ФИО</div>
        <input type="text"></div>
    <div class="userInfoPhone">
        <div class="userInfoText">Телефон</div>
        <input type="text"></div>
    <div class="userInfoEmail">
        <div class="userInfoText">Почта</div>
        <input type="text"></div>
    <div class="userInfoCompany">
        <div class="userInfoText">Компания посетителя</div>
        <input type="text"></div>
    <hr/>
</div>