<div class="container" id="user<%= count %>">
    <div class="row">
        <div class="col-xs-12">
            <div class="userInfoText">ФИО</div>
            <input type="text"></div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="userInfoText">Телефон</div>
            <input type="text"></div>

        <div class="col-xs-6">
            <div class="userInfoText">Почта</div>
            <input type="text"></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="userInfoText">Компания посетителя</div>
            <input type="text"></div>
    </div>
    <hr/>
</div>